/*
.pizzaBackgroundTransparent {
    background: url(../images/pizza_background_opacity_10.png) no-repeat center center fixed;
    display: table;
    position: relative;
    width: 100%;
    background-size: cover;
}

.pizzaBackground {
    background: url(../images/pizza_background.png) no-repeat center center fixed;
    display: table;
    position: relative;
    width: 100%;
    background-size: cover;
}

 */